.container {
    background-image: url('https://www.latercera.com/resizer/oStaaBjKjrTK8rrWE2MFitEba_g=/900x600/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/FIN7ZFLY2VF7ZIO3F4VAH7DJ5I.jpg');
    background-size: cover;
    width: 1100px;
    height: 370px;
    margin-top: -25px;
    border-radius: 30px;
    margin-left: 90px;
    user-select: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.container h1 {
    color: white;
    border: thick double rgb(130, 129, 129);
    background: rgba(107, 106, 107, 0.77);
    width: 300px;
    height: 35px;
    border-radius: 10px 40px;
}

.container .text {
    border: dashed rgb(130, 129, 129);
    background: rgba(107, 106, 107, 0.77);
    border-width: 2px 4px;
    border-radius: 40px 10px;
    margin: 0 30px;
    color: white;
}